@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');
*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-container{
    width: 95%;
    height: 18vw;
    transition: 1s all ease;
    position: relative;
    bottom: 0;
    top: 2vw;
}
.header-text-up-container{
    width: 100%;
    height: 7vw;
    color: #F266CB;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 14vw;
    line-height: 14vw;
    overflow: hidden;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: white;
    position: relative;
    z-index: 1;
    transition: 1s all ease;
    bottom: 0;
}
.header-text-inside-container{
    width: 100%;
    height: 0;
    background-color: #2E292A;
    border: white;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 0%;
    letter-spacing: 0vw;
    line-height: 0vw;
    color: white;
    z-index: 0;
    transition: 1s all ease;
}
.header-container:hover > .header-text-inside-container{
    height: 7vw;
    line-height: 3vw;
    opacity: 1;
    font-size: 5vw;
    letter-spacing: 2vw;
}
.header-container:hover > .header-text-up-container{
    bottom: 0.5vw;
}
.header-container:hover > .header-text-down-container{
    top: 0.5vw;
}
.header-container:hover{
    bottom: 3vw;
    top: -1vw;
}
.header-text-down-container{
    width: 100%;
    height: 7vw;
    color: #6A32E2;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 14vw;
    line-height: 14vw;
    overflow: hidden;
    display: flex;
    align-items: start;
    justify-content: center;
    background-color: white;
    z-index: 1;
    transition: 1s all ease;
    position: relative;
    top: 0;
}
.header-text-down-container p{
    position: relative;
    bottom: 6.7vw;
}
.header-text-up-container p{
    position: relative;
    top: 7.3vw;
}
.hall-of-fame{
    width: 100%;
    height: 31.8vw;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
}
.hall-text-container{
    width: 95%;
    height: 5vw;
    margin: 0 auto;
}
.hall-text{
    font-size: 3.5vw;
    font-family: 'Montserrat';
    font-weight: 700;
    color: #2E292A;
}
.hall-container{
    width: 95%;
    height: 22vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.hall-img-list{
    width: 100%;
    height: 22vw;
    display: flex;
    align-items: center;
    list-style-type: none;
}
.hall-img{
    width: 20vw;
    height: 22vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s all ease;
}
.hall-img img{
    width: 20vw;
    height: 22vw;
    object-fit: cover;
    transition: 1s all ease;
}
.hall-img:hover{
    width: 80vw;
    height: 22vw;
}
.hall-img:hover > img{
    width: 80vw;
    height: 47vh;
    object-fit: cover;
}
.hall-text-end-container{
    width: 95%;
    height: 2.5vw;
    margin: 0 auto;
}
.hall-text-end{
    font-size: 2.5vw;
    font-family: 'Montserrat';
    text-align: end;
    color: #2E292A;
}
.collection{
    width: 100%;
    height: 89.2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.collection-img-container{
    width: 95%;
    height: 67vw;
    margin: 0 auto;
    margin-top: 2vh;
}
.collection-img-list{
    width: 100%;
    height: 67vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}
.collection-img-1{
    width: 22.55vw;
    height: 33vw;
    background-image: url(img/Rectangle\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: 1s;
}
.collection-img-2{
    width: 22.55vw;
    height: 33vw;
    background-image: url(img/Rectangle\ 12.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: 1s;
}
.collection-img-3{
    width: 22.55vw;
    height: 33vw;
    background-image: url(img/Rectangle\ 13.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: 1s;
}
.collection-img-4{
    width: 22.55vw;
    height: 33vw;
    background-image: url(img/Rectangle\ 14.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: 1s;
}
.collection-img-5{
    width: 22.55vw;
    height: 33vw;
    background-image: url(img/Rectangle\ 15.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: 1s;
}
.collection-img-6{
    width: 22.55vw;
    height: 33vw;
    background-image: url(img/Rectangle\ 16.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: 1s;
}
.collection-img-7{
    width: 22.55vw;
    height: 33vw;
    background-image: url(img/Rectangle\ 17.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: 1s;
}
.collection-img-8{
    width: 22.55vw;
    height: 33vw;
    background-image: url(img/Rectangle\ 18.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    transition: 1s;
}
.collection-inside{
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    background-color: rgba(30, 30, 30, 0.8);
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: 1s;
}
.collection-img-1:hover > .collection-inside{
    opacity: 1;
}
.collection-img-1:hover{
    scale: 0.95;
}
.collection-img-2:hover > .collection-inside{
    opacity: 1;
}
.collection-img-2:hover{
    scale: 0.95;
}
.collection-img-3:hover > .collection-inside{
    opacity: 1;
}
.collection-img-3:hover{
    scale: 0.95;
}
.collection-img-4:hover > .collection-inside{
    opacity: 1;
}
.collection-img-4:hover{
    scale: 0.95;
}
.collection-img-5:hover > .collection-inside{
    opacity: 1;
}
.collection-img-5:hover{
    scale: 0.95;
}
.collection-img-6:hover > .collection-inside{
    opacity: 1;
}
.collection-img-6:hover{
    scale: 0.95;
}
.collection-img-7:hover > .collection-inside{
    opacity: 1;
}
.collection-img-7:hover{
    scale: 0.95;
}
.collection-img-8:hover > .collection-inside{
    opacity: 1;
}
.collection-img-8:hover{
    scale: 0.95;
}
.collection-inside-text-up{
    width: 100%;
    height: 5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 1.9vw;
}
.collection-inside-text-middle{
    width: 100%;
    height: 5vw;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.83vw;
}
.collection-inside-text-bottom{
    width: 50%;
    height: 5vw;
    color: white;
    display: flex;
    align-self: flex-end;
    margin-right: 1.27vw;
    text-align: end;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1.7vw;
}
.collection-inside-link{
    color: #47B198;
    text-decoration: none;
}
.collection-inside-text-button-container{
    width: 100%;
    height: 8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.collection-inside-text-button{
    width: 90%;
    height: 4vw;
    background-color: #47B198;
    border-style: none;
    cursor: pointer;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.5vw;
}
footer{
    width: 100%;
    height: 40vw;
    background-color: #2E292A;
}
.design-your-car{
    width: 100%;
    height: 20vw;
}
.design-your-car-container{
    width: 100%;
    height: 20vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.design-your-car-link{
    text-decoration: none;
    color: #2E292A;
    font-size: 6vw;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 900;
    transition: 0.25s all ease;
}
.design-your-car-link:hover{
    color: #6A32E2;
}